body{
  font-family: "Helvetica Neue";
}
header{
  background-color:  #1a1d1f;
}
h1{
  font-size: 4.5rem;
}
h3{
  font-size: 3rem;
}
h4{
  font-size: 1.2rem;
  font-weight: bold;
}
.header_top{
  border-bottom: 1px solid white;
}
.header_top , .header_bottom{
  margin-left: 5rem;
}
.header_email{
  color: #3d9970;
}
.header_top__left a, .header_top__right i, .header_top__right span{
  font-size: 1.2rem;
}
/* .header_top__right{
  background-color: #6ba602;
} */
.skewed {
  height: 0;
   width: 25%;
   border-bottom: 5rem solid #3d9970;
   border-left: 60px solid transparent;
}

/* Nav bar */
.myNavbar{
  padding-left: 0;
}
.navbar_search{
  border-left: 1px solid white;
}

/* Homepage Carousel */
.carousel_caption_left{
  max-width: 40%;
  left: 12%;
  top: 20%;
  text-align: left;
}
.carousel_caption_left p{
  font-size: 1rem;
}
.carousel_caption_left button:hover{
  background-color: #3d9970;
}
.carousel_title{
  border-left: 2px solid #9aa1a0;
  padding-left: 4%;
}
.carousel_caption_right{
  position: absolute;
  right: 12%;
  top: 35%;
  background-color: rgba(50, 53, 55, 0.8);
  width: 20%;
  transform: rotateY(40deg);
   animation: carousel_caption_right 2s infinite;
   animation-direction: alternate;

}
.carousel_caption_right button{
  background-color: #3d9970;
  width: 100%;
}

/* Best house for sale */
.best_house{
  padding: 7% 10%;
}
.best_house__title > p{
  color:#3d9970;
  font-weight: bold;
}
.seperator{
  background-image: linear-gradient(to right,black, #3d9970);
  height: 5px;
  width: 5%;
}
.best_house__content img{
  width: 100%;
}
.best_house__image{
  position: relative;
}
.overlay_box{
  background-color: rgba(50, 53, 55, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.overlay_content{
  width: 100%;
  height: 100%;
}
.overlay_content__house{
  position: relative;
  text-align: center;
  margin-top: 30%;

}
.overlay_content button{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #4e4d7f;
}
/* .best_house__image:hover .overlay_box{
  display: block;
} */
/* About us */
.about{
  padding: 7% 10%;
  background-color: white;
}
.about_content__title{
  font-size: 3rem;
}
.about_content__title > span{
  color:#3d9970;
}
.about_content__col i{
  color: #3d9970;
}
.about_content__col p{
  font-weight: 500;
}

/* Property for sale */
.property_sale{
  padding: 7% 10%;
}
.property_details img{
  width: 100%;
  height: 100%;
}
.property_sale__title > p{
  color: #3d9970;
  font-weight: bold;
}
.property_location{
  color: #3d9970;
  font-weight: bold;
}
.property_subtitle{
  color: #808284;
}
.property_icon{
  background-color: #f3f3f3;
}
.property_icon i{
  line-height: 2.5;
}
.property_image{
  position: relative;
}
.property_for_sale{
  position: absolute;
  top:0;
  left:0;
  width: 20%;
  height: 15%;
  background-color: #2f2953;
  border-radius: 0 0 25px 0;
}

.property_price{
  position: absolute;
  right:0;
  bottom: 0;
    width: 20%;
    height: 15%;
    background-color: #2f2953;
      border-radius: 15px 0 0 0;
}
.sale{
  position: relative;
  width: 100%;
}
.price{
  position: relative;
}

/* Photo Gallery */
.gallery{
  overflow: hidden;
}
.gallery_title span{
  color:#3d9970;
}
.gallery_filter button{
  border-radius: 20px;
}
.gallery_filter button:hover{
  background-color: #3d9970;
}
.grid-item img{
  width: 100%;
  height: 100%;
}
.grid-item{
  padding: 0;
  overflow: hidden;
}
.button-active{
  background-color: #3d9970;
}

/* Agents */
.agent{
  padding: 7% 10%;
}
.agent__title p{
  color: #3d9970;
}
.agent__image img{
  width: 100%;
  max-height: 340px;
}
.agent__name{
  font-size: 1.5rem;
  font-weight: bold;
}
.agent__role{
  color: #3d9970;
}

/* what client say */
.client{
  padding: 7% 10%;
}
@keyframes carousel_caption_right {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(70deg);
  }
}
